<div style="text-align: right; margin-bottom: 10px;">
    <a href="{{ url_for('set_language', lang='pt') }}">
      <img src="https://flagcdn.com/w40/br.png" alt="Português" style="width:24px; height:16px;">
    </a>
    <a href="{{ url_for('set_language', lang='en') }}">
      <img src="https://flagcdn.com/w40/us.png" alt="English" style="width:24px; height:16px;">
    </a>
    <a href="{{ url_for('set_language', lang='es') }}">
      <img src="https://flagcdn.com/w40/es.png" alt="Español" style="width:24px; height:16px;">
    </a>
  </div>
  